In [1]:
pgconfig = {
    'host': 'hostname',
    'port': 5439,
    'database': 'dbname',
    'user': 'chie8842',
    'password':'xxxxx',
}

In [2]:
%load_ext sql
dsl = 'postgres://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
%sql $dsl

/opt/conda/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.6/site-packages/sql/magic.py:4: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  from IPython.utils.traitlets import Bool, Int, Unicode

'Connected: chie8842@dbname'

In [6]:
%%sql

-- test

select 1 as a, 2 as b ,3 as c;

1 rows affected.

[(1, 2, 3)]